{% extends '::layout.html.twig' %}

{% block title %}{{ title }}{% endblock %}
{% block top_menu %}
<table border="0" cellpadding="0" cellspacing="0" width="100%">
        <tr width="100%">
            <td width="100%" align="center">
                <div id="divHeader">
                    <table border="0" cellpadding="0" cellspacing="0" width="90%">
                        <tr width="100%">
                            <td align="left" width="300px">
                                <img src="{{asset('bundles/frontend/images/petramas.png') }}" border="0"/>
                            </td>
                            <td align="left" style="font-family: UbuntuRegular; font-size: 32px; color:black">

                            </td>
                            <td align="right">
                                
                            </td>
                        </tr>
                    </table>

                </div>
            </td>
        </tr>
    </table>
{% endblock %}
{% block body %}
        <div class="row-fluid">
            <div class="span12" >
                <form action="{{ path('usuario_login_check') }}" method="post" class="ui-widget-content">
                    <h2 class="ui-widget-header">{{ title }}</h2>
                    <div class="ui-widget">
                        
                            <label class="label" for="username">Usuario:</label>
                            <input type="text" id="username" name="_username" class="inputText"
                           value="{{ last_username}}" />
                        
                    </div>
                    <br />
                    
                    <div class="control-group">
                        
                            <label class="label" for="password">Password:</label>
                            <input type="password" id="password" name="_password" class="inputText" />
                        
                    </div>
                    <br />
                    <div class="ui-widget-content">
                        <div class="divBtns">
                         
                            <button name="login" value="Acceder" class="" >Ingresar</button>
                         
                        </div>
                    </div>
                    <input type="hidden" name="_target_path" value="inicio" />
                    <br />
                    {% if error is not null %}
                        <div class="ui-state-highlight ui-corner-all" style="font-size:11px; padding: 4px 4px 4px 4px; height:20px; width:240px">
                            Datos Ingresados Incorrectos, Intente nuevamente
                        </div>
                    {% endif %}
                </form>
            </div>
        </div>

{% endblock %}
{% block custom_javascripts %}
<script>
    (function ($) {
   
        $("button", ".divBtns").button();
    
    }(jQuery)); 
</script>
{% endblock %}            