{% extends '::layout.html.twig' %}
{% block body %}

<table border="0" cellpadding="0" cellspacing="0" align="center" width="90%"  height="100%">
    <tr>
        <td width="100%" valign="top" class="ui-widget-content2 ln_formatos" colspan="2">
                {% include 'FrontendBundle:Incidencia:formularioEditar.html.twig' with {'form': form, 'mensaje': mensaje} %}
        </td>
    </tr>
</table>

    <div id="dlgDatosPopUp" title="Resolver Incidencia">
        {% render url('incidencia_resolver') %}
    </div>
{% endblock %}
{% block custom_javascripts %}
    {% include 'FrontendBundle::jsMenu.html.twig' %}
{% endblock %}
{% block custom2_javascripts %}
<script>
    (function ($) {
   	$( "#divFormCompanias" ).accordion({autoHeight:false});
		$("button", ".divBtns").button();
                $("#nro-incidencia").button();
                
                $(document).on('click', '#nro-incidencia', { url : '{{ url("incidencia_ajax_listar") }}'}, buscarIncidencia );
                $(document).on('click', '#limpiar', { url : '{{ url('incidencia_registrar') }}'}, limpiarIncidencia );
                $(document).on('click', '#eliminar', { url : '{{ url('incidencia_eliminar') }}', 
                    currentUrl : '{{ url('incidencia_listar') }}'
                        + '?fecha_inicio='+ '{{ data.fechaInicio}}'
                        + '&fecha_fin='+ '{{ data.fechaFin}}'
                }, eliminarIncidencia );
                $(document).on('click', '#resolver', { url : '{{ url('incidencia_resolver') }}'}, resolverIncidencia );
                $(document).on('click', '#resolver-incidencia', { url : '{{ url('incidencia_procesar_resolucion') }}'}, procesarResolucion );
                
                var now = new Date();
                var day = ("0" + now.getDate()).slice(-2);
                var month = ("0" + (now.getMonth() + 1)).slice(-2);
                var today = now.getFullYear()+"-"+(month)+"-"+(day) ;    
                $('#sistema_bundle_frontendbundle_incidenciatype_accion').val('');
                //$('#sistema_bundle_frontendbundle_incidenciatype_observacion').val('');
                //$('#sistema_bundle_frontendbundle_incidenciatype_unidad').val('');
                //$('#sistema_bundle_frontendbundle_incidenciatype_incidencia').val('');
                $('#sistema_bundle_frontendbundle_incidenciatype_fecha_incidencia').val(today);
                
                {% if form.vars.value.id | length > 0 %}
                    $('#sistema_bundle_frontendbundle_incidenciatype_nro_incidencia').val('{{form.vars.value.id}}');
                    $('#sistema_bundle_frontendbundle_incidenciatype_accion').val('{{data.accion}}');
                {% endif %}
                //$('#sistema_bundle_frontendbundle_incidenciatype_tipo_incidencia').val('');
                //$('#sistema_bundle_frontendbundle_incidenciatype_estado').val('');

		$("#dlgDatosPopUp").dialog({
			autoOpen:false,
			resizable: false,
			height:250,
			width:400,
			modal:true
		});

}(jQuery));    
function refreshParent() {
    window.opener.location.href = "{{ url('incidencia_listar')}}" 
            + '?fecha_inicio='+ '{{ data.fechaInicio}}'
            + '&fecha_fin='+ '{{ data.fechaFin}}';

  if (window.opener.progressWindow) {
    window.opener.progressWindow.close();
  }
  window.close();
}   
</script>
{% endblock %}