<div id="divPanelSistema" class="ui-widget-content" align="left">
			  <div id="divFormCompanias">
                            <h3>
                                <a href="#">Incidencias</a>
                            </h3>
                            <div>
                                <form id="registrar" action="#" method="post" {{ form_enctype(form) }} >
                                <table border="0" cellpadding="2" cellspacing="2" style="height:100px" >
                                    <tr>
                                        <td>
                                            <div id="errorMsg" class="ui-state-default ui-corner-all error hide" style="font-size:11px; padding: 4px 4px 4px 4px; height:20px; width:240px">
                                              
                                             </div>
                                            <div class="ui-widget-content">
                                                <table border="0" cellpadding="2" cellspacing="2" >
                                                    <tr>
                                                        <td>{{ form_label(form.fecha_inicio) }} </td>
                                                        <td>{{ form_widget(form.fecha_inicio) }}
                                                        </td>
                                                        <td>{{ form_label(form.fecha_fin) }} </td>
                                                        <td>{{ form_widget(form.fecha_fin) }}</td>
                                                    </tr>
                                                        <tr>
                                                        <td colspan="2">
                                                            <span class="red">
                                                                {{form_errors(form.fecha_inicio)}}
                                                            </span>
                                                        </td>
                                                        <td colspan="2">
                                                            <span class="red">
                                                                {{form_errors(form.fecha_fin)}}
                                                            </span>
                                                        </td>
                                                    </tr>
                                                    
                                                    <tr>
                                                        <td>{{ form_label(form.responsable) }} </td>
                                                        <td>{{ form_widget(form.responsable) }}
                                                        </td>
                                                        <td> </td>
                                                        <td></td>
                                                    </tr>
                                                        <tr>
                                                        <td colspan="2">
                                                            <span class="red">
                                                                {{form_errors(form.responsable)}}
                                                            </span>
                                                        </td>
                                                        <td colspan="2">
                                                            <span class="red">
                                                            
                                                            </span>
                                                        </td>
                                                    </tr>
                                                  
                                                </table>

                                                {{ form_rest(form) }}
                                             </div>
                                        </td>
                                    </tr>

                                    <tr>
                                        <td>
                                            <div class="ui-widget-content">
                                                <div class="divBtns">
                                                    <table width="100%" >
                                                        <tr>
                                                            <td align="center" >
                                                                <button type="submit" id="buscar"  >Buscar</button>
                                                                
                                                                <button id="registrar" name="registrar" type="button" onclick="popitup('{{ path('incidencia_registrar')}}',1);">Registrar</button>
                                                                
                                                                <button type="button" id="limpiar"  >Limpiar</button>
                                                                
                                                                <button type="button" ><a id="cerrar" href="{{ url('inicio')}}"  > Cerrar  </a></button>
                                                                
                                                                
                                                                <script language="javascript" type="text/javascript">
                                                                   
                                                                    function popitup(url, accion) {
                                                                        if(accion === 1) { //registrar
                                                                            url = url + '?fecha_inicio=' + '{{ form.fecha_inicio.vars.value}}'
                                                                            + '&fecha_fin='+'{{ form.fecha_fin.vars.value}}';
                                                                        }
                                                                        else if(accion == 2) {//modificar
                                                                            //boleta = document.getElementById('form');
                                                                            //url = url + '?id='+ boleta.value+'&accion=editar';
                                                                        }
                                                                        
                                                                     newwindow=window.open(url,'name','toolbar=1,scrollbars=1,location=1,\n\
                                                                    statusbar=0,menubar=1,resizable=1,width=600,height=400');
                                                                     if (window.focus) {newwindow.focus()}
                                                                     return false;
                                                                    }
                                                                    
                                                                 
                                                                </script>
                                                            </td>
                                                        </tr>
                                                    </table>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>

                                    <tr>
                                        <td align="center">
                                            <div id="lstCompaniasDiv">
                                                <table id="lstSiniestro"></table>
                                                <div id="pagerlstSiniestro"></div>
                                            </div>

                                        </td>
                                    </tr>

                                </table>
                                </form>
                            </div>
                        </div>				
</div>
