{% if indicadores | length <= 0 %}
    <div>No existen indicadores</div>
{% else %}
<h3>Reporte Indicadores</h3>
<div class="">
<table id="myTable" border="2" class="ui-widget" style="width:80%;">
    <thead class="ui-widget-header">
    <tr class="">
        <td> Indicadores </td>
        <td> Valor Calculado</td>
        <td> M&iacute;nimo</td>
        <td> M&aacute;ximo</td>
        <td> Estado </td>
        <td> Observaciones</td>
    </tr>
    </thead>
    <tbody class="ui-widget-content">
    {% for indicadorReporte in indicadores %}
        <tr>
            <td colspan="6" style="text-align:center;background-color: #08C;"><span style="font-weight:bold;">{{indicadorReporte.titulo}}</span></td>
        </tr>
       {% for  indicador in indicadorReporte.data %}
    
        <tr class="" border="">
            <td style="border-style:none;">{{ indicador.nombre }}</td>
            <td style="border-style:none;">{{ indicador.valor }}</td>
            <td style="border-style:none;">{{ indicador.inferior }}</td>
            <td style="border-style:none;">{{ indicador.superior }}</td>
            <td style="border-style:none;text-align:center;"> <img src="{{asset('bundles/frontend/images/'~ indicador.estado ~ '.jpg') }}" border="0" width="24" height="24"/></td>
            <td style="border-style:none;">{{ indicador.observacion}}</td>
        </tr>
    {% endfor %}
    
    {% endfor %}
    </tbody>
</table>
</div>
{% endif %}
