{% extends '::layout.html.twig' %}
{% block body %}

<table border="0" cellpadding="0" cellspacing="0" align="center" width="90%"  height="100%">
        <tr>
            <td width="100%" valign="top" class="ui-widget-content2 ln_formatos" colspan="2">
                {% include 'FrontendBundle:Pedido:formularioEditar.html.twig' with {'form': form, 'mensaje': mensaje} %}
            </td>
        </tr>
</table>

    <div id="dlgDatosPopUp" title="Buscar Cliente">
        {% render url('cliente_buscar') %}
    </div>

    <div id="dlgDatosPedido" title="Buscar Pedido">
        {% render url('pedido_buscar') %}
    </div>

    <div id="dlgDatos" title="Verificar Stock">
        <div class="resultados2"></div>
    </div>

{% endblock %}
{% block custom_javascripts %}
    {% include 'FrontendBundle::jsMenu.html.twig' %}
{% endblock %}
{% block custom2_javascripts %}
<script>
    (function ($) {
   	$( "#divFormCompanias" ).accordion({autoHeight:false});
		$("button", ".divBtns").button();
                $("#nro-cliente").button();
                $("#nro-cantidad").button();
                $("#nro-pedido").button();
                
                $(document).on('click', '#nro-cliente', { url : '{{ url("cliente_ajax_listar") }}'}, buscarCliente );
                //$(document).on('click', '#nro-pedido', { url : '{{ url("pedido_ajax_listar_por") }}'}, buscarPorPedido );
                $(document).on('focusout','#sistema_bundle_frontendbundle_pedidotype_cantidad', { url : '{{ url("pedido_calcular_importe")}}'}, calcularImporte);
                $(document).on('click', '#nro-cantidad', { url : '{{ url("stock_verificar") }}'}, verificarStock );
                $(document).on('click', '#limpiar', { url : '{{ url('pedido_registrar') }}'}, limpiarPedido );
                $(document).on('click', '#eliminar', { url : '{{ url('pedido_eliminar') }}', currentUrl : '{{ url('pedido_registrar') }}'}, eliminarPedido );
                var now = new Date();
                var day = ("0" + now.getDate()).slice(-2);
                var month = ("0" + (now.getMonth() + 1)).slice(-2);
                var today = now.getFullYear()+"-"+(month)+"-"+(day);
                
                {% if form.vars.value.id | length > 0 %}
                    $('#sistema_bundle_frontendbundle_pedidotype_nro_pedido').val('{{form.vars.value.id}}');
                    $('#sistema_bundle_frontendbundle_pedidotype_material').val('{{data.material}}');
                    $('#sistema_bundle_frontendbundle_pedidotype_cantidad').val('{{data.cantidad}}');
                    $('#sistema_bundle_frontendbundle_pedidotype_importe').val('{{data.importe}}');
                    
                    $('#sistema_bundle_frontendbundle_pedidotype_accion').val('{{data.accion}}');
                {% endif %}
                //$('#sistema_bundle_frontendbundle_pedidotype_nro_pedido').val('');
                //$('#sistema_bundle_frontendbundle_pedidotype_estado').val('');
                //$('#sistema_bundle_frontendbundle_pedidotype_cliente').val('');
                //$('#sistema_bundle_frontendbundle_pedidotype_material').val('');
                //$('#sistema_bundle_frontendbundle_pedidotype_cantidad').val('');
                //$('#sistema_bundle_frontendbundle_pedidotype_importe').val('');
                //$('#sistema_bundle_frontendbundle_pedidotype_fecha_programacion').val(today);
                
		$("#dlgDatosPopUp").dialog({
			autoOpen:false,
			resizable: false,
			height:250,
			width:400,
			modal:true
		});
                $("#dlgDatos").dialog({
			autoOpen:false,
			resizable: false,
			height:250,
			width:400,
			modal:true
		});
                
                $("#dlgDatosPedido").dialog({
			autoOpen:false,
			resizable: false,
			height:250,
			width:400,
			modal:true
		});

}(jQuery));
function refreshParent() {
    window.opener.location.href = "{{ url('pedido_listar')}}" 
            + '?fecha_inicio='+ '{{ data.fechaInicio}}'
            + '&fecha_fin='+ '{{ data.fechaFin}}';

  if (window.opener.progressWindow) {
    window.opener.progressWindow.close();
  }
  window.close();
}   
</script>
{% endblock %}