<div id="divPanelSistema" class="ui-widget-content" align="left">
			  <div id="divFormCompanias">
                            <h3>
                                <a href="#">Registrar Pedido</a>
                            </h3>
                            <div>
                                <form id="registrar" action="{{ path('pedido_editar', {'fecha_inicio': data.fechaInicio, 'fecha_fin': data.fechaFin}) }}" 
                                      method="post" {{ form_enctype(form) }} >
                                <table border="0" cellpadding="2" cellspacing="2" style="height:100px" >
                                    <tr>
                                        <td>
                                            {% if mensaje != '' %}
                                            <div id="errorMsg" class="ui-state-default ui-corner-all error " style="font-size:11px; padding: 4px 4px 4px 4px; height:20px; width:240px">
                                                {{mensaje}}
                                            </div>
                                            {% endif %}
                                            <div class="ui-widget-content">
                                                <table border="0" cellpadding="2" cellspacing="2" >
                                                    <tr>
                                                        <td>{{ form_label(form.nro_pedido) }} </td>
                                                        <td>{{ form_widget(form.nro_pedido) }}
                                                            
                                                            
                                                        </td>
                                                        <td>{{ form_label(form.cliente)}}</td>
                                                        <td>{{ form_widget(form.cliente)}}
                                                            <a id="nro-cliente" href="#" title="Buscar Cliente"  >
                                                                <img border="0" width="15" src="{{ asset('bundles/frontend/images/toolbar_find.png' ) }}" />  </a>
                                                            
                                                                    
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td colspan="2">
                                                            <span class="red">
                                                                {{form_errors(form.nro_pedido)}}
                                                            </span>
                                                        </td>
                                                        <td colspan="2">
                                                            <span class="red">
                                                                {{form_errors(form.cliente)}}
                                                            </span>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td>{{ form_label(form.estado) }}</td>
                                                        <td>
                                                            {{ form_widget(form.estado) }}
                                                        </td>
                                                        <td>{{form_label(form.fecha_programacion) }}</td>
                                                        <td>
                                                            {{ form_widget(form.fecha_programacion) }}
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td colspan="2">
                                                            <span class="red">
                                                                {{form_errors(form.estado)}}
                                                            </span>
                                                        </td>
                                                        <td colspan="2">
                                                            <span class="red">
                                                                {{form_errors(form.fecha_programacion)}}
                                                            </span>
                                                        </td>
                                                    </tr>

                                                    <tr>
                                                        <td>{{ form_label(form.material) }}</td>
                                                        <td>
                                                            {{ form_widget(form.material) }}
                                                        </td>
                                                        <td></td>
                                                        <td>
                                                            
                                                        </td>
                                                        
                                                    </tr>
                                                    <tr>
                                                        <td colspan="2">
                                                            <span class="red">{{ form_errors(form.material) }}</span>
                                                        </td>
                                                        <td colspan="2">
                                                            <span class="red"></span>
                                                        </td>
                                                        
                                                    </tr>
                                                    <tr>
                                                        <td>{{ form_label(form.cantidad) }}
                                                        </td>
                                                        <td>
                                                            {{ form_widget(form.cantidad) }}
                                                            <a id="nro-cantidad" href="#" title="Verificar Stock"  ><img border="0" width="15" src="{{ asset('bundles/frontend/images/toolbar_find.png' ) }}" />  </a>
                                                                
                                                        </td>
                                                        <td>{{form_label(form.importe) }}</td>
                                                        <td>
                                                            {{ form_widget(form.importe) }}
                                                        </td>
                                                        
                                                    </tr>
                                                    <tr>
                                                        <td colspan="2">
                                                            <span class="red">{{ form_errors(form.cantidad) }}</span>
                                                        </td>
                                                        <td colspan="2">
                                                            <span class="red">{{ form_errors(form.importe) }}</span>
                                                        </td>
                                                        
                                                    </tr>
                                                    
                                                    
                                                    
                                                </table>

                                                {{ form_rest(form) }}
                                             </div>
                                        </td>
                                    </tr>

                                    <tr>
                                        <td>
                                            <div class="ui-widget-content">
                                                <div class="divBtns">
                                                    <table width="100%" >
                                                        <tr>
                                                            <td align="center" >
                                                                {% if (data.mostrar) %}
                                                                <button id="grabar" name="grabar" type="submit" >Grabar</button>
                                                                <button id="eliminar" name="eliminar" type="button" >Eliminar</button>
                                                                {% endif %}
                                                                <button id="cerrar" name="cerrar" type="button" onclick="refreshParent();" >Cerrar</button>
                                                            </td>
                                                            
                                                        </tr>
                                                    </table>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                 
                                </table>
                                </form>     
                                
                            </div>
                        </div>				
</div>

