<div id="divPanelSistema" class="ui-widget-content" align="left">
			  <div id="divFormCompanias">
                            <h3>
                                <a href="#">Registrar Incidencia</a>
                            </h3>
                            <div>
                                <form id="registrar" action="{{ path('pedido_registrar') }}" method="post" {{ form_enctype(form) }} >
                                <table border="0" cellpadding="2" cellspacing="2" style="height:100px" >
                                    <tr>
                                        <td>
                                            {% if mensaje != '' %}
                                            <div id="errorMsg" class="ui-state-default ui-corner-all error " style="font-size:11px; padding: 4px 4px 4px 4px; height:20px; width:240px">
                                                {{mensaje}}
                                            </div>
                                            {% endif %}
                                            <div class="ui-widget-content">
                                                <table border="0" cellpadding="2" cellspacing="2" >
                                                    <tr>
                                                        <td>{{ form_label(form.cliente) }} </td>
                                                        <td>{{ form_widget(form.cliente) }}
                                                            
                                                        </td>
                                                        <td>{{ form_label(form.clave)}}</td>
                                                        <td>{{ form_widget(form.clave)}}</td>
                                                    </tr>
                                                    <tr>
                                                        <td colspan="2">
                                                            <span class="red">
                                                                {{form_errors(form.cliente)}}
                                                            </span>
                                                        </td>
                                                        <td colspan="2">
                                                            <span class="red">
                                                                {{form_errors(form.clave)}}
                                                            </span>
                                                        </td>
                                                    </tr>
                                                    
                                                    
                                                    
                                                    
                                                </table>

                                                {{ form_rest(form) }}
                                             </div>
                                        </td>
                                    </tr>

                                    <tr>
                                        <td>
                                            <div class="ui-widget-content">
                                                <div class="divBtns">
                                                    <table width="100%" >
                                                        <tr>
                                                            <td align="center" >
                                                                <button id="grabar" name="grabar" type="submit" >Verificar Clave</button>
                                                            </td>
                                                        </tr>
                                                    </table>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                 
                                </table>
                                </form>     
                                
                            </div>
                        </div>				
</div>


