<table border="0" cellpadding="0" cellspacing="0" width="90%">
    <tr width="100%">
        <td align="left" width="300px">
            <a href="{{ url('inicio')}}" ><img src="{{asset('bundles/frontend/images/petramas.png') }}" border="0"/></a>
        </td>
        <td align="left" style="font-family: UbuntuRegular; font-size: 32px; color:black">

        </td>
        <td align="right">
            <div class="ui-state-highlight ui-corner-all" style="font-size:11px; padding: 4px 4px 4px 4px; height:40px; width:360px">

            <table id="tblHeaderInfoUser" width="100%" border="0" cellpadding="0" cellspacing="0">
                <tr>
                    <td>
                        <img src="{{ asset('bundles/frontend/images/user-info1.png') }}" border="0"/>
                    </td>
                    <td align="Left">
                        {% render url('usuario_autenticado')%}
                    </td>
                    <td width="26px" align="center">
                        <a id="idCerrarSesion" href="{{ path('usuario_logout')}}" style="cursor:pointer;">
                            <img src="{{ asset('bundles/frontend/images/logout.png') }}" border="0" title="Cerrar sesion"/>
                        </a>
                    </td>
                </tr>
            </table>
            </div>
        </td>
    </tr>
</table>
