<div id="divPanelSistema" class="ui-widget-content" align="left">
			  <div id="divFormCompanias">
                            <h3>
                                <a href="#">Recepci&oacute;n Material</a>
                            </h3>
                            <div>
                                <form id="registrar" action="{{ path('material_registrar') }}" method="post" {{ form_enctype(form) }} >
                                <table border="0" cellpadding="2" cellspacing="2" style="height:100px" >
                                    <tr>
                                        <td>
                                            <div id="errorMsg" class="ui-state-default ui-corner-all error hide" 
                                                 style="font-size:11px; padding: 4px 4px 4px 4px; height:20px; width:240px">
                                              
                                             </div>
                                                {% if mensaje != '' %}
                                                <div class="ui-state-default ui-corner-all">
                                                    {{mensaje}}
                                                </div>
                                                {% endif %}
                                            <div class="ui-widget-content">
                                                <table border="0" cellpadding="2" cellspacing="2" >
                                                    <tr>
                                                        <td>{{ form_label(form.boleta_recepcion) }} </td>
                                                        <td>{{ form_widget(form.boleta_recepcion) }}
                                                           
                                                        </td>
                                                        <td>{{ form_label(form.material)}}</td>
                                                        <td>{{ form_widget(form.material) }}

                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td colspan="2">
                                                            <span class="red">
                                                                {{form_errors(form.boleta_recepcion)}}
                                                            </span>
                                                        </td>
                                                        <td colspan="2">
                                                            <span class="red">
                                                                {{form_errors(form.material)}}
                                                            </span>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td>{{ form_label(form.fecha_ingreso) }}</td>
                                                        <td>
                                                            {{ form_widget(form.fecha_ingreso) }}
                                                        </td>
                                                        <td>{{form_label(form.unidad_medida) }}</td>
                                                        <td>
                                                            {{ form_widget(form.unidad_medida) }}
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td colspan="2">
                                                            <span class="red">
                                                                {{form_errors(form.fecha_ingreso)}}
                                                            </span>
                                                        </td>
                                                        <td colspan="2">
                                                            <span class="red">
                                                                {{form_errors(form.unidad_medida)}}
                                                            </span>
                                                        </td>
                                                    </tr>

                                                    <tr>
                                                        <td>{{ form_label(form.cantidad) }}</td>
                                                        <td>
                                                            {{ form_widget(form.cantidad) }}
                                                            <a href="#" onclick="obtenerPeso('{{path('balanza_peso')}}', '{{ form.cantidad.vars.id }}' );" >
                                                                <img border="0" src="{{ asset('bundles/frontend/images/scale-32x32.png' ) }}" />
                                                            </a>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td colspan="2">
                                                            <span class="red">{{ form_errors(form.cantidad) }}</span>
                                                        </td>
                                                    </tr>
                                                </table>

                                                {{ form_rest(form) }}
                                             </div>
                                        </td>
                                    </tr>

                                    <tr>
                                        <td>
                                            <div class="ui-widget-content">
                                                <div class="divBtns">
                                                    <table width="100%" >
                                                        <tr>
                                                            <td align="center" >
                                                                <button id="grabar" name="grabar" type="submit" >Grabar</button>
                                                                <button type="button" id="eliminar" >Eliminar</button>
                                                                <button type="button" id="limpiar" onclick="refreshParent()">Cerrar</button>
                                                            </td>
                                                        </tr>
                                                    </table>
                                                </div>
                                            </div>
                                        </td>
                                        <td
                                    </tr>

                                </table>
                                </form>     
                                
                            </div>
                        </div>				
</div>
