{% extends 'FrontendBundle::frontend.html.twig' %}
{% block body %}

<table border="0" cellpadding="0" cellspacing="0" align="center" width="90%"  height="100%">
        <tr width="100%" align="left">
            <td>
                <div id="divMenu" class="ui-widget-header" style="height:30px">
                    {% render url('menu_listar') %}
                </div>
            </td>
        </tr>
        <tr>
            <td width="100%" valign="top" class="ui-widget-content2 ln_formatos" colspan="2">
                {% include 'FrontendBundle:Material:formularioRecepcion.html.twig' with {'form': form} %}
            </td>
        </tr>
	<tr>
            <td width="100%">
                <div id="pie_pagina" style="font-size:9px; height:12px" class="ui-widget-header">
                    {% include 'FrontendBundle::footer.html.twig' %}
		</div>
           </td>
       </tr>
</table>

  
    <div id="dlgDatos" title="Mensaje">
        <span class="boleta_resultados"></span>
    </div>
    <div id="dlgDatosPopUp" title="Buscar Boleta de Recepcion">
        {% render url('boleta_recepcion_buscar') %}
    </div>
    <div>
        <span id="editUrl" class="hide">{{ url('material_registrar')}}</span>
    </div>
{% endblock %}
{% block custom_javascripts %}
    {% include 'FrontendBundle::jsMenu.html.twig' %}
{% endblock %}
{% block custom2_javascripts %}
<script>
    (function ($) {
   	$( "#divFormCompanias" ).accordion({autoHeight:false});
		$("button", ".divBtns").button();
                $("#nro-boleta").button();
                
                $(document).on('click', '#nro-boleta', { url : '{{ url("boleta_recepcion_ajax_listar") }}'}, buscarPedido );
                $(document).on('click', '#limpiar', { url : '{{ url('material_listar') }}'}, limpiar );
                $(document).on('click', '#eliminar', { url : '{{ url('material_eliminar') }}', currentUrl : '{{ url('material_listar') }}'}, eliminar );
                
                
                {% if  form.vars.form.boleta_recepcion.vars.value is defined %}
                    crearGrilla('{{ url('material_listar', {'boletaRecepcionId': form.vars.form.boleta_recepcion.vars.value })}}');
                {% else %}
                    crearGrilla('{{ url('material_listar')}}');
                {% endif %}
                    
                $('#sistema_bundle_frontendbundle_recepcionmaterialtype_accion').val('');
                $('#sistema_bundle_frontendbundle_recepcionmaterialtype_cantidad').val('');
                $('#sistema_bundle_frontendbundle_recepcionmaterialtype_fecha_ingreso').val('');
                //$('#boleta_impresion_id').val('');
                
                

		$("#dlgDatosPopUp").dialog({
			autoOpen:false,
			resizable: false,
			height:250,
			width:400,
			modal:true
		});
            
            $("#dlgDatos").dialog({
			autoOpen:false,
			resizable: false,
			height:250,
			width:400,
			modal:true
		});
}(jQuery));
 
</script>
{% endblock %}