<div class="error red">
    {{ form_errors(form) }}
    {% if boletasRecepcion | length == 0 %} 
        La Boleta no fue encontrada.
    {% endif %}
</div>

{% if boletasRecepcion | length > 0 %} 
<table id="myTable" border="0" class="ui-widget">
<thead class="ui-widget-header">
    <tr>
        <th>Num Boleta</th>
        <th>Fecha Llegada</th>
        <th>Fecha Salida</th>
        <th>Acci&oacute;n</th>
    </tr>
</thead>
<tbody class="ui-widget-content">
    
    {% for boletaRecepcion in boletasRecepcion %}
    <tr>
        <td >{{ boletaRecepcion.id }}</td>
        <td >{{ boletaRecepcion.fechaIngreso | date('d/m/Y') }}</td>
        <td >{{ boletaRecepcion.fechaSalida | date('d/m/Y') }}</td>
        <td ><button id="choose-{{ boletaRecepcion.id }}" 
                     class="ui-button ui-widget ui-corner-all ui-state-default ui-button-text-only"
                     onclick="elegirBoletaRecepcion('{{ boletaRecepcion.id }}',
                                 '{{ url('material_listar', { 'boletaRecepcionId': boletaRecepcion.id})}}')"
                     value="Elegir">Elegir</button></td>
    </tr>
    {% endfor %}
    
</tbody>
</table>
{% endif %}